<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
		<link rel="stylesheet" type="text/css" href="https://rawgit.com/outboxcraft/beauter/master/beauter.min.css"/>
		<title>Le Cabat de Pierrine</title>
	</head>
	
	<body>
		
		<ul class="topnav">
			<li><a href="/" class="brand">Le Cabat de Pierrine</a></li>
			<li><a href="#">Caisse</a></li>
			<li class="dropdown">
				<a href="#">Stocks</a>
				<div class="dropdown-content">
					<a href="#">État</a>
					<a href="#">Historique</a>
				</div>
			</li>
			<li><a href="#">Adhérents</a></li>
			<li class="dropdown">
				<a href="#">Producteurs</a>
				<div class="dropdown-content">
					<a href="#">Nouveau</a>
					<a href="/producteurs">Liste</a>
				</div>
			</li>
		</ul>
		
		

		
		<script src="https://rawgit.com/outboxcraft/beauter/master/beauter.min.js"></script>
	</body>
</html>
